@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Error con la fecha introducida...</h1>
<h5><b>Es posible que:</b></h5>
<ul>
    <li>La fecha de "próxima consulta" es anterior al día de hoy.</li>
    <li>Ya hay 8 pacientes agendados para la fecha introducida</li>

</ul>
