@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clínica Sonrisa 10/10</h1>
</div>

<div>
    <ul>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="ControladorPaciente" asp-action="Index">Ver el listado de todos los pacientes</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="ControladorPaciente" asp-action="IndexCaries">Ver el listado de todos los pacientes con tratamiento de caries</a></li>
        <li>Milk</li>
    </ul>
</div>
